:local .login-form {
  display: flex;
  flex-direction: column;

  flex: 1;

  font-size: 14px;

  &__row {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
  }

  &__row--register {
    align-self: flex-end;
  }

  &__login-with--fb, &__login-with--sc, &__input-field, &__input-button {
    border-radius: 100px;
    margin: 0.37em;
  }

  &__line {
    flex: 1;
    margin: 0 1.3em;
    border-top: #454545 solid 1px;
    height: 0;
  }

  &__input-field {
    flex: 1;
    padding: 1.8em;

    &, &:hover {
      border: 0;
    }
  }

  &__input-button {
    padding: 1.8em 3.5em;
    text-transform: uppercase;
    background-color: #04bd5b;
  }

  &__login-with {
    &--fb, &--sc {
      padding: 1.4em;

      flex: 1;

      text-transform: uppercase;
      text-align: center;
    }

    &--fb {
      background: #3d5a96;
    }

    &--sc {
      background: #fc5a1a;
    }

    &__social-network-name {
      font-weight: bold;
    }
  }

  &__forgot-password, &__register {
    flex: 1;
    text-align: right;

    color: #6d7077;
    text-transform: uppercase;
  }

  &__register__button {
    color: #04bd5b;
  }
}