.app {
  display: flex;
  background: url('../../../assets/images/bg.png');
  font-size: 16px;
  padding: 5em;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;


  &__content {
    display: flex;
    flex: 1;
    border: 2px solid red;
    border-radius: .5em;
  }
}
