.sidebar {
  &-box {
    display: flex;
    flex-direction: column;
    background-color: #391e15;
  }

  &-content {
    padding: 0 1.5em;
    flex: 1;
  }
}

.nav {
  display: flex;
  flex: 1;
  flex-direction: column;
}
