.sidebar-box {
  display: flex;
  flex-direction: column;
  flex-basis: 200px; // for example
  background-color: #391e15;
}

.nav {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.logo {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}
