@import "../../../css/variables.styl"

.navigation-top {
  padding: 5px;
  display: flex;
  flex-direction: row;

  &__divider {
    height: 25px;
    margin: 10px;
    border: 1px solid #bebebe;
  }

  &__element {
    &--avatar {
      height: 45px;
      margin: 0 8px;
    }

    &--profile--panel {
      height: 25px;
      margin: 10px 0;
    }

    &, &--main {
      height: 25px;
      margin: 10px 15px;
      > * {
        height: 25px;
      }
    }
    &--main {
      flex: 1;
    }
  }

  &__search {
    width: 100%;

    border: none;
    background-color: rgba(0, 0, 0, 0);
  }

  &__search:focus {
    outline: #36373c auto 5px;
  }
}