.navigation-top {
  padding: 10px;
  display: flex;
  flex-direction: row;

  &-element {
    display: flex;
    height: 20px;
    padding: 10px 15px;

    &-main {
      flex: 1;
    }
  }

  &-search {
    border: none;
  }

  &-search:focus {
    outline: #36373c auto 5px;
  }
}