.navigation-top {
  padding: 5px;
  display: flex;
  flex-direction: row;

  &__element {
    &--avatar {
      height: 45px;
      padding: 0 15px;
    }

    &, &--main {
      height: 25px;
      padding: 10px 15px;
      > * {
        height: 25px;
      }
    }
    &--main {
      flex: 1;
    }
  }

  &__search {
    width: 100%;

    border: none;
    background-color: rgba(0, 0, 0, 0);
  }

  &__search:focus {
    outline: #36373c auto 5px;
  }
}