@import '../../../css/variables.styl'

:local .button {
  &__like, &__repeat, &__sound, &__more {
    fill-rule: evenodd;
    fill: color-not-activated;

    &--active {
      fill: color-activated;
    }
  }

  &__play {
    fill-rule: evenodd;
    fill: #acacac;

    &--active {
      fill: #04bd5b;
    }
  }
}

:local .track-info {
  margin: 0 15px;
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;

  &__album {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #acacac;
    letter-spacing: 1px;
    font-weight: 400;
  }

  &__name {
    font-size: 1em;
    font-weight: 400;
    color: #000;
  }
}

:local .track-timeline {
  display: flex;
  flex-direction: row;
  align-items: center;

  flex: 1;

  &__current-time {
    color: #04bd5b;
  }

  &__progress-bar {
    flex: 1;
    height: 2px;
    margin: 0 25px;

    border: 0;
    border-radius: 0;

    appearance: none;
    background: #c0c0c0;
    &::-webkit-progress-value {
      background: #04bd5b;
    }
    &::-moz-progress-bar {
      background: #04bd5b;
    }
  }

  &__total-time {
    color: #c0c0c0;
  }
}

.track-timeline--full {
  position: relative;

  display: flex;
  flex-direction: column;

  flex: 1;
}

//TODO find better way rather than hardcoding height
.audio-graph {
  max-height: 65.45px;
  flex: 1;

  & > canvas {
    width: 100%;
    height: 100%;
  }

  &__time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    font-size: 0.8em;
  }

  &__played-time {
    color: green;
    background-color: black;
    padding: 5px;
  }

  &__total-time {
    color: green;
    background-color: black;
    padding: 5px;
  }
}