@import '../../../css/variables.styl'

.navigation {
  &__group {
    &__name {
      margin: 1rem 0;

      color: #6b615c;
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;

    color: color-not-activated;

    &--active {
      color: color-activated;
    }

    &__name {
      margin-left: 10px;
      font-size: 1.1em;
    }
    &__icon {
      display: flex;
      justify-content: center;

      height: 1em;
      width: 2em;

      > * {
        height: 1em;
      }
    }
  }
}